<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
/*
 *      Copyright 2009-2010 Battams, Derek
 *       
 *       Licensed under the Apache License, Version 2.0 (the "License");
 *       you may not use this file except in compliance with the License.
 *       You may obtain a copy of the License at
 *
 *          http://www.apache.org/licenses/LICENSE-2.0
 *
 *       Unless required by applicable law or agreed to in writing, software
 *       distributed under the License is distributed on an "AS IS" BASIS,
 *       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *       See the License for the specific language governing permissions and
 *       limitations under the License.
 *
 *       $Id$
 */
-->
<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>EventHandlerMgrViewer</servlet-name>
    <servlet-class>com.google.code.sagetvaddons.sagealert.server.SageEventHandlerManagerViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventHandlerMgrViewer</servlet-name>
    <url-pattern>/view_mgr</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ClientService</servlet-name>
    <servlet-class>com.google.code.sagetvaddons.sagealert.server.ClientServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientService</servlet-name>
    <url-pattern>/sagealert/ClientService</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>ReporterService</servlet-name>
    <servlet-class>com.google.code.sagetvaddons.sagealert.server.ReporterServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporterService</servlet-name>
    <url-pattern>/sagealert/ReporterService</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>HandlerService</servlet-name>
    <servlet-class>com.google.code.sagetvaddons.sagealert.server.HandlerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandlerService</servlet-name>
    <url-pattern>/sagealert/HandlerService</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>SettingsService</servlet-name>
    <servlet-class>com.google.code.sagetvaddons.sagealert.server.SettingsServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsService</servlet-name>
    <url-pattern>/sagealert/SettingsService</url-pattern>
  </servlet-mapping>

 <servlet>
   <servlet-name>TwitterService</servlet-name>
   <servlet-class>com.google.code.sagetvaddons.sagealert.server.TwitterServiceImpl</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>TwitterService</servlet-name>
   <url-pattern>/sagealert/TwitterService</url-pattern>
 </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SageAlert.html</welcome-file>
  </welcome-file-list>
  
  <listener>
     <listener-class>com.google.code.sagetvaddons.sagealert.server.AppInitializer</listener-class>
  </listener>

</web-app>
